$darkest-grey: #202020;
$dark-grey: #383838;
$grey: #434343;
$light-grey: #545454;
$lightest-grey: #565656;
$white: #ffffff;
$light-pink: #e493ff;
$main-pink: #c606a0;
$dark-pink: #ac008a;
$submit-green: #11aa11;

$body-bg: $dark-grey;
$body-colour: $white;
$anchor-colour: $light-pink;
