$line-height-base: 1.5;

$border-radius-base: 16px;
$border-base: 3px solid transparent;

// Button

$c-btn-padding: 0.6em 1.2em;
$c-btn-bg: $grey;
$c-btn-trans: border-color 0.25s;

// Logo

$logo-height: 3em;
$logo-padding: 1.5em;
$logo-will-change: filter;
$logo-transition: filter 300ms;

// Card

$card-trans: border-color 0.25s;
