.card {
    background-color: $grey;
    border-radius: $border-radius-base;
    border: $border-base;
    border-color: $darkest-grey;
    color: $white;
    cursor: pointer;
    height: auto;
    padding: 1em 1em 1em 1em;
    // margin: auto;
    position: relative;
    transition: $card-trans;

    &:hover {
        border-color: $dark-pink;
    }

    &__title {
        font-size: $font-size-h1;
        font-weight: $font-weight-bold;
    }

    &__body {
        font-style: italic;
    }

    &__quick-action {
        justify-content: flex-end; 
        display:flex;
    }
}

.card-holder {
    box-sizing: inherit;
    width: auto;
}
