body {
    background-color: $body-bg;
    color: $body-colour;
    font-family: $font-sans;
    font-size: $font-size;
    font-variant-ligatures: no-contextual;
    line-height: $line-height-base;
    margin: 0;
}

a {
    color: $anchor-colour;
    text-decoration: none;
}
a:hover {
    color: $main-pink;
}

h1 {
    font-size: $font-size-h1;
    font-weight: $font-weight-bold;
}

c-page {
    display: flex;
    flex-direction: row;
    width: 100vw;
}
